body {
  background: #f39f59;
}
h1 {
  text-align: center;
  color: #4e2db7;
}
h2 {
  text-align: center;
  color: #9d44c0;
  border: 1px solid #4e2db7;
  padding: 15px;
  font-size: 18px;
  border-radius: 4px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
}
p {
  line-height: 1.5;
  font-size: 13px;
  margin: 20px 0 10px;
}
button {
  display: block;
  margin: 20px auto;
  background: #4e2db7;
  color: white;
  font-size: 18px;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}
button:hover {
  opacity: 0px;
  cursor: pointer;
}
.get-recipe {
  text-decoration: none;
  color: #4e2db7;
  font-size: 12px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 60px;
}
.get-recipe:hover {
  text-decoration: underline;
}
.footer {
  text-align: center;
}
